@import "./styles/variables.scss";
@import "./styles/mixins.scss";

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: black;
}

html,
body {
	font-size: 62.5%;
	width: 100%;
	font-family: "Avenir";
}

.App {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding-top: 0.1rem;
	background: #fff;
	&.gradientBG {
		background: rgb(148, 166, 161);
		background: linear-gradient(
			329deg,
			rgba(148, 166, 161, 0) 42%,
			rgba(148, 166, 161, 1) 96%
		);
	}
}

main {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

.main-page {
	width: 100vw;
	height: calc(100vh - #{$menuBar});
	height: calc(var(--vh, 1vh) * 100 - #{$menuBar});
	padding-top: 0.1rem;
}

form {
	margin-top: 2rem;
	@include surface {
		margin-top: 3.5rem;
	}
}

.signoutBtn {
	width: 13rem;
	font-size: 1.6rem;
	height: 2.5rem;
	margin: 1rem auto 6rem auto;
	border: none;
	background-color: #fff;
	color: red;
}

select:focus,
input:focus,
textarea:focus {
	@media (max-width: 430px) {
		font-size: 20px !important;
	}
}

.card {
	border: none !important;
	overflow-y: scroll;
}
