@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.home {
	height: 100vh;
	width: 100vw;
	background-color: white;
	padding-top: 0.1rem;
	@include flex(column, center, center, nowrap);
	&__logo {
		width: 12rem;
		height: 12rem;
		margin: 0 auto;
		display: block;
	}
	&__icon {
		fill: white;
	}
	&__logo-bg {
		display: flex;
		justify-content: center;
		margin: 4rem auto 3rem auto;
		border-radius: 50%;
		@include surface {
			margin: 7rem auto 3rem auto;
		}
	}
	&__heading {
		width: 20rem;
		margin: 0rem auto;
		font-size: 2rem;
		text-align: center;
		font-weight: bold;
		color: #aabfb2;
		@include mobileM {
			font-size: 2.5rem;
			width: 25rem;
			@include surface {
				margin: 0rem auto;
				font-size: 3rem;
				width: 30rem;
			}
		}
	}
	&__nav {
		@include flex(column, space-around, center);
		margin: 3rem auto;
		@include surface {
			margin: 5rem auto;
		}
	}
	&__btn {
		width: 20rem;
		height: 3rem;
		margin: 0.3rem;
		border: none;
		border-radius: 2.5rem;
		outline: none;
		background-color: rgba(184, 205, 192, 0.5);
		font-size: 1.5rem;
		&:active,
		&:focus-within {
			background-color: #aabfb2;
		}
	}
}

.userProfile {
	width: 30rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__email {
		font-size: 1.3rem;
	}
	&__signOut {
		width: 11rem;
		height: 2.8rem;
		border-radius: 2rem;
		background-color: rgba(242, 185, 136, 0.8);
		color: black;
		border: none;
		// font-weight: bold;
		font-size: 1.4rem;
		margin: 1rem;
	}
}
