@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.profile {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	overflow: hidden;
	&.card {
		overflow-y: scroll;
	}
	&__details {
		margin: 1rem;
		@include mobileL {
			margin: 1rem 0 2rem 0;
		}
	}
	&__user {
		font-size: 1.3rem;
		margin: 0;
		@include surface {
			font-size: 1.5rem;
		}
		& > span {
			color: #f1aa6b;
			font-weight: bold;
			font-size: 1.4rem;
			@include surface {
				font-size: 1.7rem;
			}
		}
	}
}

.editProfile {
	flex-wrap: nowrap;
	&__button {
		text-align: center;
		width: 100%;
		margin: 0 auto 5rem auto;
		display: block;
		font-size: 1.6rem;
		color: rgb(56, 87, 56);
		text-decoration: none;
		font-size: 1.4rem;
		cursor: pointer;
		border: none;
		background-color: #fff;
		&:hover {
			font-weight: bold;
			text-decoration: underline;
			color: $orange;
		}
	}
}

#profile__details {
	margin: 2rem auto 1rem auto;
}

// #connect-form {
// 	@include flex(column, center, center);
// }
