@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.receiptsList {
	height: calc(100vh - 9rem);
	overflow: hidden;
	padding: 0.1rem 1rem;
	background-color: white;
	margin-bottom: 10rem;
	overflow-y: scroll;
	&__title {
		font-size: 2rem;
		color: #f2b988;
		margin: 1rem auto;
	}
	&__box {
		box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
		margin: 1rem -1rem;
		padding: 1rem 2rem;
		width: 100vw;
		@include flex(column, space-between, center);
	}

	&__dayTotal,
	&__weekTotal {
		margin-top: 1rem;
		font-size: 1.4rem;
		&--Num {
			color: #f2b988;
		}
	}
}

.receipt {
	&__record {
		@include flex(row, space-between);
		border-bottom: #f2f2f2 solid 1px;
		padding: 1rem 0;
		font-size: 1.2rem;
		width: 100%;
		max-width: 80rem;
		margin: 0 auto;
		@include mobileM {
			font-size: 1.4rem;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	&__summary {
		text-transform: capitalize;
	}
}
.table-headings {
	font-weight: bold;
	font-size: 1.6rem;
}

.receipts-selected {
	&__store {
		font-size: 1.8rem;
		font-weight: bold;
		text-transform: capitalize;
		color: $orange;
	}
	&__storeDetails {
		border: #f2f2f2 solid 3px;
		border-radius: 1.5rem;
		margin-top: 2rem;
		padding: 1.5rem;
		border-bottom-style: dashed;
	}
	&__receipt {
		font-size: 1.4rem;
	}
	&__itemsList {
		border: #f2f2f2 solid 3px;
		border-radius: 1.5rem;
		margin-top: 0;
		padding: 1.5rem;
		border-top-style: none;
	}
	&__item {
		font-size: 1.4rem;
		&:nth-child(even) {
			background-color: #f2f2f2;
		}
		&-title {
			font-size: 1.4rem;
			font-weight: bold;
		}
	}
	&__total {
		font-size: 1.7rem;
		font-weight: bold;
	}
}
