@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.receiptsList {
	overflow: hidden;
	overflow-y: scroll;
	height: calc(100vh - 9rem);
	height: calc(var(--vh, 1vh) * 100 - 9rem);
	padding: 0 1rem 2rem 1rem;
	margin-bottom: 10rem;
	background-color: white;
	&__title {
		margin: 1rem auto;
		font-size: 2rem;
		color: #f2b988;
	}
}
