@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.receipt-form {
	height: calc(100vh - #{$menuBarSmall});
	height: calc(var(--vh, 1vh) * 100 - #{$menuBarSmall});
	overflow-y: scroll;
	@include breakpoint(321px) {
		height: calc(100vh - #{$menuBar});
		height: calc(var(--vh, 1vh) * 100 - #{$menuBar});
	}
	&__storeSelect {
		@include inputBox;
		&:disabled {
			opacity: 0.6;
		}
	}
	&__submitBtn {
		@include button;
		&:disabled {
			opacity: 0.6;
		}
	}
	&__errMsg {
		width: 70%;
		max-width: 33rem;
		margin: 2rem auto;
		font-size: 1.7rem;
		text-align: center;
		color: red;
	}
	&__fileUpload {
		margin-bottom: 2rem;
		margin-top: 0.7rem;
		font-size: 1.3rem;
		@include surface {
			font-size: 1.5rem;
		}
		&:disabled {
			opacity: 0.6;
		}
	}
}

.form__label--receipts {
	font-size: 1.3rem;
	@include mobileL {
		margin-top: 2rem;
		@include surface {
			font-size: 1.6rem;
		}
	}
}

.receiptPreview {
	overflow-y: scroll;
	height: 15rem;
	margin-bottom: 2rem;
	@include mobileL {
		height: 18rem;
	}
	&__img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
}
