@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.card {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	&-body {
		@include flex(column, center, center);
		&.loginForm {
			@include fadeIn(ease-in-out, 6s);
		}
	}
}

.signin {
	overflow: hidden;
	&__card {
		position: absolute;
		&.card {
			background: transparent;
		}
	}
	&__logo {
		overflow: hidden;
		z-index: 2;
		position: absolute;
		@include flex(row, center, center);
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		width: 100vw;
		overflow: hidden;
		& > img {
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			width: 100vw;
			max-height: 80rem;
			max-width: 60rem;
			object-fit: cover;
			object-position: center;
			opacity: 0;
			@include fadeOut(ease-in-out, 4s);
			@include surface {
				height: auto;
			}
		}
	}
	&__appName {
		color: #415049;
		font-family: "Kaushan Script", cursive;
		text-align: center;
		font-size: 7rem;
		margin: 0.3rem auto;
		@include mobileM {
			margin: 1rem auto;
			font-size: 10rem;
		}
	}
	&__text {
		font-size: 1.4rem;
		width: 100%;
		text-align: center !important;
		&:nth-child(2) {
			display: block;
		}
	}
}

.firebaseui-card-content {
	& button {
		height: 3rem;
	}
}

.emailPassword__button {
	width: 20.3rem;
	height: 4rem;
	border: none;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
		0 1px 5px 0 rgb(0 0 0 / 12%);
	max-width: 220px;
	padding: 8px 16px;
	font-size: 1.4rem;
	background-color: #6b7d6b;
	color: #fff;
	font-weight: 500;
}

#emailPassword {
	width: 20.3rem;
	font-size: 1.4rem;
	& input {
		height: 3.6rem;
		margin-bottom: 1rem;
	}
	& button {
		font-size: 1.4rem;
		height: 3.6rem;
		margin: 1rem 0;
		background-color: #495e51;
		border: none;
	}
}
