@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.card {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100vw;
	&-body {
		@include flex(column, center, center);
		&.loginForm {
			@include fadeIn(ease-in-out, 6s);
		}
	}
}

.signin {
	overflow: hidden;
	&__card {
		position: absolute;
		&.card {
			background: transparent;
		}
	}
	&__logo {
		overflow: hidden;
		z-index: 2;
		position: absolute;
		@include flex(row, center, center);
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		width: 100vw;
		overflow: hidden;
		& > img {
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			width: 100vw;
			max-height: 80rem;
			max-width: 60rem;
			object-fit: cover;
			object-position: center;
			opacity: 0;
			@include fadeOut(ease-in-out, 4s);
			@include surface {
				height: auto;
			}
		}
	}
	&__appName {
		color: #415049;
		font-family: "Kaushan Script", cursive;
		text-align: center;
		font-size: 7rem;
		margin: 0.3rem auto;
		@include mobileM {
			margin: 1rem auto;
			font-size: 10rem;
		}
	}
	&__text {
		font-size: 1.4rem;
	}
}

.firebaseui-card-content {
	& button {
		height: 3rem;
	}
}
