@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.button {
	@include flex(row, center, center);
	max-width: 80rem;
	margin: 0 auto;
	&__toDashboard {
		margin: 1rem 0 2rem 0;
		font-size: 1.6rem;
		@include surface {
			font-size: 1.8rem;
			@include desktop {
				font-size: 2rem;
			}
		}
	}
	&__backArrow {
		width: 2rem;
		margin-right: 1.5rem;
	}
}
