@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.submission-msg {
	grid-column: 2/3;
	grid-row: 2/3;
	width: 80vw;
	max-width: 40rem;
	margin: 0 auto;
	padding: 1.5rem;
	border: solid 1px rgb(221, 197, 175);
	border-radius: 3px;
	background-color: rgba(242, 185, 136, 0.4);
	font-size: 1.5rem;
	color: rgb(43, 56, 43);
	& > h3 {
		color: rgb(43, 56, 43);
	}
}
