@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.menu-bar {
	background-color: hsl(28, 80%, 74%);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: $menuBar;
}

.menu {
	width: 100vw;
	height: $menuBar;
	margin: 0 auto;
	@include flex(row, space-evenly, center);
	max-width: 900px;
	padding: 0;
	& li {
		list-style-type: none;
		@include flex(column, center, center);
		width: 7rem;
		height: 100%;
		position: relative;
	}
	&__icon {
		width: 4rem;
		&--3 {
			width: 3rem;
		}
		&--4 {
			width: 2.5rem;
		}
	}
	&__item {
		text-decoration: none;
	}
	&__label {
		font-size: 1.4rem;
		color: #fff;
		font-weight: bold;
		text-align: center;
	}
	&-item--selected {
		&::after {
			content: "";
			width: 8rem;
			height: 150rem;
			position: absolute;
			top: -1rem;
			left: -0.5rem;
			border-radius: 1rem;
			background-color: hsl(28, 80%, 74%);
			z-index: -1;
			box-shadow: 0px 0px 5px 3px hsl(28, 39%, 58%);
			animation: shiftUp ease-in-out 0.3s;
		}
	}
}

@keyframes shiftUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.shoppingcart {
	fill: #fff;
	width: 4rem;
}
