@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.receiptsList {
	&__box {
		@include flex(column, space-between, center);
		width: 100vw;
		margin: 1rem -1rem;
		padding: 1rem 0rem;
		box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.15);
		@include mobileL {
			padding: 1rem 2rem;
		}
	}

	&__dayTotal,
	&__weekTotal {
		margin-top: 1rem;
		font-size: 1.3rem;
		@include surface {
			font-size: 1.8rem;
		}
		&--Num {
			color: #f2b988;
			font-weight: bold;
		}
	}
}
.receipt {
	&__record {
		font-size: 1.2rem;
		width: 100%;
		max-width: 60rem;
		margin: 0 auto;
		@include mobileM {
			font-size: 1.4rem;
		}
		&--active {
			background-color: rgba(171, 207, 185, 0.35);
		}
		&--totals {
			@include flex(row, space-between);
			padding: 1rem 1.5rem;
		}
		&:last-child {
			border-bottom: none;
		}
		& div {
			@include flex(row, space-between);
			border-bottom: #f2f2f2 solid 1px;
			padding: 1rem 1.5rem;
		}
	}
	&__summary {
		text-transform: capitalize;
		font-size: 1.4rem;
		width: 33%;
		text-align: right;
		@include surface {
			font-size: 1.7rem;
		}
		&:nth-child(3n + 1) {
			text-align: left;
		}
		&:nth-child(3n + 2) {
			text-align: center;
		}
	}
}

.table-headings {
	@include flex(row, space-between);
	padding: 1rem 1.5rem;
	border-bottom: #f2f2f2 solid 1px;
	font-weight: bold;
	font-size: 1.6rem;
}
