@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.receipts-selected {
	max-width: 50rem;
	margin: 0 auto;
	& label {
		width: 18rem;
		font-size: 1.5rem;
		font-weight: bold;
		color: rgb(107, 80, 55);
		text-align: right;
		padding-right: 1rem;
	}
	& span {
		display: flex;
		align-items: center;
		width: 100%;
		&.button-container {
			justify-content: space-between;
			margin: 2rem auto;
		}
	}
	& input {
		font-size: 1.5rem;
		padding-left: 1rem;
		width: 100%;
		max-width: 95%;

		margin: 0.3rem 1rem;
		border: #e7e7e7 solid 2px;
		border-radius: 3px;
		&:focus,
		&:focus-within {
			outline: seagreen solid 2px;
		}
	}
}

.storeDetails {
	border: #e0e0e0 solid 3px;
	border-radius: 1.5rem;
	margin-top: 2rem;
	padding: 1rem 0.5rem;
	border-bottom-style: dashed;
	@include mobileM {
		padding: 1.5rem;
	}
	&__store {
		font-size: 1.8rem;
		font-weight: bold;
		text-transform: capitalize;
		color: $orange;
		margin-bottom: 0.5rem;
		@include surface {
			font-size: 2.3rem;
		}
	}
	&__detail {
		font-size: 1.5rem;
		// display: flex;
		// justify-content: space-between;
		margin-bottom: 0;
		@include surface {
			font-size: 1.6rem;
		}
		&:last-child {
			margin-bottom: 1rem;
		}
	}
}
.purchaseDetails {
	border: #e0e0e0 solid 3px;
	border-radius: 1.5rem;
	margin-top: 0;
	padding: 1rem 0.5rem;
	border-top-style: none;
	@include mobileM {
		padding: 1.5rem;
	}
	&__item {
		font-size: 1.4rem;
		padding-top: 0.3rem;
		height: 3rem;
		margin-bottom: 0;
		@include mobileM {
			padding-left: 1rem;
			@include surface {
				font-size: 1.6rem;
				padding-top: 0.3rem;
				height: 3.2rem;
				padding-left: 2rem;
			}
		}
		&:nth-child(even) {
			background-color: #f2f2f2;
		}

		&-title {
			font-size: 1.4rem;
			font-weight: bold;
			@include surface {
				font-size: 1.8rem;
			}
		}
	}
	&__subtotal {
		font-weight: bold;
		font-size: 1.5rem;
		padding-top: 0.3rem;
		height: 3rem;
		margin-bottom: 0;
		text-align: right;
		@include mobileM {
			padding-right: 1rem;
			@include surface {
				font-size: 2rem;
				padding-top: 0.3rem;
				height: 3.2rem;
				padding-right: 2rem;
			}
		}
	}
	&__total {
		@extend .purchaseDetails__subtotal;
		font-weight: bold;
		font-size: 1.7rem;
		@include surface {
			font-size: 2.2rem;
		}
	}
}

.receipt-header {
	@include flex(row, space-between);
}
.edit {
	border: none;
	background-color: #fff;
	font-size: 1.4rem;
	outline: none;
	border: none;
	background-color: #fff;
	&-icon {
		width: 3rem;
	}
}

.save {
	&-icon {
		width: 2.6rem;
		margin: 0 0.3rem;
	}
}
