@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.store {
	@include flex(column, flex-start, flex-start);
	width: 100vw;
	overflow-x: hidden;
	&__box {
		display: flex;
		margin-right: 2rem;
		width: 100vw;
		overflow-x: scroll;
		padding-left: 0.5rem;
	}
}

.itemTransition {
	&-enter {
		opacity: 0.01;
	}
	&-enter.itemTransition-enter-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
	&-leave {
		opacity: 1;
	}
	&-leave.itemTransition-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
}

.item {
	width: 40%;
	min-width: 15rem;
	max-width: 18rem;
	border-radius: 2rem;
	margin: 2rem 1rem;
	background-color: rgba(256, 256, 256, 0.7);
	position: relative;
	@include flex(column, space-between, flex-start);
	&__details {
		padding: 1rem;
		@include flex(row, space-between, flex-end, nowrap);
		width: 15rem;
	}
	&__title {
		font-size: 1.5rem;
		width: 15rem;
		padding: 0 1rem;
	}
	&__image {
		width: 100%;
		border-radius: 2rem;
		object-fit: contain;
		object-position: center;
		height: 15rem;
		width: 15rem;
		background-color: white;
		box-shadow: 0px 0.2rem 0.6rem 0.2rem rgba(0, 0, 0, 0.15);
		margin-bottom: 1rem;
	}

	&__store {
		font-size: 1.5rem;
	}
	&__price {
		font-size: 1.4rem;
		font-weight: bold;
		margin: 0;
	}
	&__capacity {
		font-size: 1.4rem;
		margin: 0;
	}
	&__delete {
		height: 2.5rem;
	}
}

.store__logo--0 {
	width: 18rem;
	height: 4rem;
	background-image: url("../assets/images/walmart.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 3rem 0 0 1rem;
	@include mobileM {
		width: 22rem;
		height: 5rem;
	}
}

.store__logo--1 {
	width: 16rem;
	height: 5.6rem;
	background-image: url("../assets/images/longos.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 3rem 0 0 1rem;
	@include mobileM {
		width: 22rem;
		height: 7rem;
	}
}

.store__logo--2 {
	width: 17.6rem;
	height: 7.2rem;
	background-image: url("../assets/images/nofrills.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 3rem 0 0 1rem;
	@include mobileM {
		width: 22rem;
		height: 9rem;
	}
}
