@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.store {
	@include flex(column, flex-start, flex-start);
	width: 100vw;
	overflow-x: hidden;
	&__box {
		display: flex;
		width: 100vw;
		margin-right: 2rem;
		padding-left: 0.5rem;
		overflow-x: scroll;
	}
}

.itemTransition {
	&-enter {
		opacity: 0.01;
	}
	&-enter.itemTransition-enter-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
	&-leave {
		opacity: 1;
	}
	&-leave.itemTransition-leave-active {
		opacity: 0.01;
		transition: opacity 300ms ease-in;
	}
}

.item {
	@include flex(column, space-between, flex-start);
	position: relative;
	width: 40%;
	min-width: 11rem;
	max-width: 18rem;
	margin: 2rem 1rem;
	border-radius: 2rem;
	background-color: rgba(256, 256, 256, 0.7);
	@include mobileM {
		min-width: 15rem;
	}
	&__details {
		@include flex(row, space-between, flex-end, nowrap);
		width: 100%;
		padding: 0.5rem;
		@include mobileM {
			padding: 1rem;
		}
	}
	&__title {
		width: 100%;
		padding: 0 0.5rem;
		font-size: 1.2rem;
		@include mobileM {
			padding: 0 1rem;
			font-size: 1.5rem;
		}
	}
	&__image {
		height: 12rem;
		width: 12rem;
		margin-bottom: 1rem;
		object-fit: contain;
		object-position: center;
		border-radius: 2rem;
		box-shadow: 0px 0.2rem 0.6rem 0.2rem rgba(0, 0, 0, 0.15);
		background-color: white;
		@include mobileM {
			height: 15rem;
			width: 15rem;
		}
	}

	&__store {
		font-size: 1.5rem;
	}
	&__price {
		margin: 0;
		font-size: 1.4rem;
		font-weight: bold;
	}
	&__capacity {
		margin: 0;
		font-size: 1.4rem;
	}
	&__delete {
		height: 2.5rem;
	}
}

.store__logo {
	object-position: center;
	object-fit: contain;
	margin: 3rem 0 0 1rem;
	&--walmart {
		width: 18rem;
		height: 5rem;
		background-image: url("../assets/images/walmart.png");
		@include mobileM {
			width: 26rem;
			height: 6rem;
		}
	}
	&--longos {
		width: 16rem;
		height: 5.6rem;
		@include mobileM {
			width: 22rem;
			height: 8rem;
		}
	}
	&--nofrills {
		width: 17.6rem;
		height: 7.2rem;
		@include mobileM {
			width: 24rem;
			height: 7rem;
		}
	}
	&--sobeys {
		width: 17.6rem;
		height: 7.2rem;
		@include mobileM {
			width: 23rem;
			height: 6rem;
		}
	}
	&--loblaws {
		width: 18rem;
		height: 4rem;
		@include mobileM {
			width: 22rem;
			height: 6rem;
		}
	}
	&--superstore {
		width: 21rem;
		height: 4rem;
		@include mobileM {
			width: 30rem;
			height: 6rem;
		}
	}
}
