@import "../styles/variables.scss";
@import "../styles/font.scss";
@import "../styles/mixins.scss";

.form {
	padding-top: 0.1rem;
	&__title {
		@include pageTitle;
		color: white;
	}
	&__box {
		width: 23rem;
		margin: 0 auto;
		@include surface {
			width: 32rem;
		}
	}

	&__label {
		@include label;
	}
}

#storeList {
	@include inputBox;
	&:disabled {
		opacity: 0.6;
	}
}

#search {
	@include inputBox;
	&:disabled {
		opacity: 0.6;
	}
}
#submitBtn {
	@include button;
	&:disabled {
		opacity: 0.6;
	}
}
