//PRIMARY FONT: AVENIR
@font-face {
	font-family: "Avenir";
	src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf")
			format(opentype),
		url("../assets/fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTProBold.ttf")
			format(truetype);
	font-weight: bold;
}

@font-face {
	font-family: "Avenir";
	src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf")
			format(opentype),
		url("../assets/fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTProDemi.ttf")
			format(truetype);
	font-weight: 600;
}

@font-face {
	font-family: "Avenir";
	src: url("../assets/fonts/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf")
			format(opentype),
		url("../assets/fonts/AvenirNextProLT/AlternativeFiles/Linotype-AvenirNextLTProMedium.ttf")
			format(truetype);
	font-weight: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
