//FLEXBOX:
@mixin flex(
	$direction: column,
	$justify: flex-start,
	$align: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

//PADDING SETTINGS:
@mixin padding-mobile {
	padding: 0.8rem 5vw 1.6rem 5vw;
}
@mixin padding-tablet {
	padding: 0.8rem 3.125vw 1.6rem 3.125vw;
}
@mixin padding-desktop {
	padding: 0.8rem calc(50vw - 54rem) 1.6rem calc(50vw - 54rem);
	//calc(50vw - 42rem) is the remaining part of the width of the screen minus 1200 and evenly distributes on the two side paddings.
}

@mixin button {
	height: 4.8rem;
	background-color: $color-CTA-link;
	border: none;
	border-radius: 0.4rem;
	color: $secondary-color;
	outline: none;
	font-weight: bold;
	text-transform: uppercase;
	&:hover,
	&:focus-within,
	&:active {
		background-color: $color-hover;
	}
}

@mixin textbox {
	@include font-forms;
	//had to add font-family because it was not adjusting to ancestor(body) font :)
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	text-transform: none;
	color: $primary-color;
	width: 100%;
	height: 4.8rem;
	padding-left: 1rem;
	border-radius: 0.4rem;
	border: $color-border solid 2px;
	background-color: $color-background-grey;

	&:active,
	&:focus-within {
		border: $color-CTA-link solid 2px;
		outline: none;
	}
	&--comment {
		resize: vertical;
		margin-bottom: 1.6rem;
	}
}

//BREAKPOINTS FOR RESPONSIVE DESIGN:
@mixin mobileS {
	@media screen and (min-width: $mobileS) {
		@content;
	}
}
@mixin mobileM {
	@media screen and (min-width: $mobileM) {
		@content;
	}
}
@mixin mobileL {
	@media screen and (min-width: $mobileL) {
		@content;
	}
}

@mixin surface {
	@media screen and (min-width: $surface) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@mixin breakpoint($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}
