//FLEXBOX:
@mixin flex(
	$direction: column,
	$justify: flex-start,
	$align: flex-start,
	$wrap: wrap
) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

//PADDING SETTINGS:
@mixin padding-mobile {
	padding: 0.8rem 5vw 1.6rem 5vw;
}
@mixin padding-tablet {
	padding: 0.8rem 3.125vw 1.6rem 3.125vw;
}
@mixin padding-desktop {
	padding: 0.8rem calc(50vw - 54rem) 1.6rem calc(50vw - 54rem);
	//calc(50vw - 42rem) is the remaining part of the width of the screen minus 1200 and evenly distributes on the two side paddings.
}

//BREAKPOINTS FOR RESPONSIVE DESIGN:
@mixin mobileS {
	@media screen and (min-width: $mobileS) {
		@content;
	}
}
@mixin mobileM {
	@media screen and (min-width: $mobileM) {
		@content;
	}
}
@mixin mobileL {
	@media screen and (min-width: $mobileL) {
		@content;
	}
}

@mixin surface {
	@media screen and (min-width: $surface) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@mixin breakpoint($width) {
	@media screen and (min-width: $width) {
		@content;
	}
}

@mixin pageTitle {
	color: #aabfb2;
	font-size: 2.4rem;
	margin: 7rem auto 3rem auto;
	text-align: center;
	font-weight: bold;
	@include surface {
		font-size: 3rem;
	}
}

@mixin inputBox {
	width: 100%;
	height: 3.4rem;
	border-radius: 2rem;
	display: block;
	margin: 0.5rem auto 3rem auto;
	padding-left: 2rem;
	border: solid 1px #d3d3d3;
	background-color: white;
	outline: none;
	font-size: 1.3rem;
	@include surface {
		font-size: 1.5rem;
		height: 4rem;
	}
}

@mixin button {
	width: 12rem;
	height: 3.4rem;
	border-radius: 2rem;
	display: block;
	font-size: 1.6rem;
	margin: 0.5rem auto 3rem auto;
	padding: 0;
	border: #83a08e solid 1px;
	background-color: #88a593;
	color: white;
	text-transform: uppercase;
	box-shadow: 1px 2px 4px 1px #838383;
	@include surface {
		width: 15rem;
		font-size: 2rem;
		height: 4rem;
	}
}

@mixin label {
	text-transform: uppercase;
	font-size: 1.4rem;
	margin-bottom: 0;
	color: #88a593;
	font-weight: bold;
	@include surface {
		font-size: 1.6rem;
	}
}
