//BREAKPOINTS:
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$surface: 540px;
$tablet: 768px;
$tablet2: 896px;
$desktop: 1200px;

//heights
$menuBarSmall: 6rem;
$menuBar: 9rem;

//colorS
$primary-color: rgb(55, 78, 64);
$secondary-color: #f8c89e;
$orange: #a66658;
